---
import Layout from '../layouts/Layout.astro';
import '@fontsource/lora';
import snail from '/snail.svg';
import About from '../components/About.astro';
import Curriculum from '../components/Curriculum.astro';
import Articles from '../components/Articles.astro';
---

<Layout title="Felipe Matamala">
  <header>
    <h1>Felipe Matamala</h1>
  </header>
  <main>
    <img src={snail} alt="snail" class="animate-spin-slow" />
    <div class="flex flex-wrap content-center justify-items-center gap-4">
      <About />
      <Curriculum />
      <Articles />
    </div>
  </main>
</Layout>

<style>
  main {
    margin: 1em auto;
    padding-left: var(--space-m);
    padding-right: var(--space-m);
  }
  h1 {
    font-size: var(--size-step-5);
    line-height: calc(var(--size-step-4) + 0.1em);
    font-weight: 800;
    text-align: center;
    margin: 0;
  }

  .text-gradient {
    background-image: var(--cool-to-warm-spectrum);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
