<div class="max-w-prose px-2 mx-auto grow">
  <h2>Sobre Mí</h2>
  <p>
    Actualmente se desempeña como Psicoanalista y supervisor, en su consulta
    privada. En conjunto con su labor como docente de la Clínica Psicológica de
    la Universidad Diego Portales.
  </p>
  <p>
    Ha desarrollado su clínica psicoanalítica en Instituciones públicas y
    privadas. Se ha especializado en situaciones traumáticas de carácter sexual
    y situaciones de violencia. Dictando cursos en la Sociedad Chilena de
    Psicoanálisis (ICHPA) y en la Universidad Diego Portales.
  </p>
  <p>
    Ha participado como expositor en Congresos Internacionales en torno a la
    materia en Chile, Estados Unidos (Universidad de George Washington),
    Argentina, entre otros.
  </p>
  <p>
    Posee publicaciones en Revistas indexadas y libros en torno al
    psicoanálisis.
  </p>
</div>
<style>
  p {
    font-family: 'Lora', serif;
    font-weight: 400;
    line-height: calc(var(--size-step-0) + 0.2em);
    font-size: var(--size-step-0);
    padding-top: var(--space-m);
  }
  h2 {
    font-family: 'Lora', serif;
    font-weight: 600;
    line-height: calc(var(--size-step-0) + 0.2em);
    font-size: var(--size-step-3);
    padding-top: var(--space-m);
  }
</style>
