---
import ProseCenter from '../layouts/ProseCenter.astro';
---

<ProseCenter title={'Sobre Mí'}>
  <!-- I want to extract these sentances from elsewhere and loop -->
  <p>
    Actualmente se desempeña como Psicoanalista y supervisor, en su consulta
    privada. En conjunto con su labor como docente de la Clínica Psicológica de
    la Universidad Diego Portales.
  </p>
  <p>
    Ha desarrollado su clínica psicoanalítica en Instituciones públicas y
    privadas. Se ha especializado en situaciones traumáticas de carácter sexual
    y situaciones de violencia. Dictando cursos en la Sociedad Chilena de
    Psicoanálisis (ICHPA) y en la Universidad Diego Portales.
  </p>
  <p>
    Ha participado como expositor en Congresos Internacionales en torno a la
    materia en Chile, Estados Unidos (Universidad de George Washington),
    Argentina, entre otros.
  </p>
  <p>
    Posee publicaciones en Revistas indexadas y libros en torno al
    psicoanálisis.
  </p>
</ProseCenter>
