---
import ProseCenter from '../layouts/ProseCenter.astro';
---

<ProseCenter title="Curriculum">
  <ul class="stack">
    <li>
      <p>Dr. (c) en Psicología</p>
      <caption>Universidad Diego Portales</caption>
    </li>
    <li>
      <p>Docente de la Pasantía de la Clínica Psicológica</p>
      <caption>Universidad Diego Portales</caption>
    </li>
    <li>
      <p>Supervisor Clínico</p>
      <caption>Particular y de la Clínica Psicológica UDP</caption>
    </li>
    <li>
      <p>Magíster en Psicología Clinica Adultos</p>
      <caption>Universidad de Chile</caption>
    </li>
  </ul>
</ProseCenter>
