---
import snail from '/snail.svg';
import flower from '/flower.svg';
import sunshine from '/sunshine.svg';
---

<div class="max-w-2xl mx-auto">
  <div class="flex">
    <img src={sunshine} alt="snail" class="animate-spin-slow max-w-[50%]" />
  </div>
  <div class="flex justify-between items-end">
    <img src={snail} alt="snail" class="rotate-12 max-w-[35%]" />
    <img src={flower} alt="flower" class="max-w-[75%]" />
  </div>
</div>
